{{#if unit.link}}
  {{#if isExternal}}
    <a href="{{unit.link}}" target="_blank">{{unit.subject}}</a>
  {{else}}
    {{#link-to 'notes.note' unit.link}}
      {{unit.subject}}
    {{/link-to}}
  {{/if}}
{{else if unit.pdf}}
  <a href="{{unit.pdf}}" target="_blank">{{unit.subject}}</a>
{{else}}
  {{unit.subject}}
{{/if}}
