<div class="page-header">
  <h1>ITP {{model.course_number}} - {{model.course_name}}</h1>
</div>

<div class="row">
  <div class="col-md-12" id="course-details">
    {{!-- {{#liquid-if showDetails}} --}}
      <p>
        Semester: {{model.semester}} {{model.year}}
        <br>
        Time: {{model.time}}
        <br>
        <a href="{{model.syllabus}}" target="_blank" id="syllabus">Syllabus</a>
        <br>
        {{#if model.discussionBoard}}
          <a href={{model.discussionBoard}} target="_blank">Discussion Board</a>
        {{/if}}
      </p>

    {{!-- {{else}} --}}
      {{!-- <a href="" {{action 'viewCourseDetails'}} id="view-course-details">View Course Details</a> --}}
    {{!-- {{/liquid-if}} --}}
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <h3 class="block-title">Lectures</h3>
    {{#each activeLectures as |lecture|}}
      <div class="lecture">
        <p class="lecture-date">{{lecture.date}}</p>

        {{#if lecture.title}}
          <h4>{{lecture.title}}</h4>
        {{/if}}

        {{#each lecture.units as |unit|}}
          {{lecture-unit unit=unit class="lecture-unit"}}
        {{/each}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-12">
        <h3 class="block-title">Assignments</h3>
        {{#if activeAssignments.length}}
          <ol id="assignments">
            {{#each activeAssignments as |assignment|}}
              <li>
                {{#link-to 'assignment' assignment.id}}
                  {{assignment.name}} due {{assignment.due}}
                {{/link-to}}
              </li>
            {{/each}}
          </ol>
        {{else}}
          <p>No assignments at this time. <a href="https://blackboard.usc.edu/webapps/discussionboard/do/conference?action=list_forums&course_id=_159236_1&nav=cp_discussion_board&conf_id=204224" target="_blank">Why not start a discussion on Blackboard?</a></p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
